@media (max-width: 768px) {
    .certificacoes {
        flex: 1 1 100%;
        max-width: 100%;
    }
}
.certificacoes{
    background-color:#A7D3DC;
    padding-left: 20px;
    padding-right: 20px;
    flex: 1 1 45%;
    max-width: 50%;
    min-width: 300px;
}
.titulo{
    color: #1C8076;
    border: 2px solid #4B2C5E;

    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 1.25rem;
    height: 1.9rem;

    background-color: #F5F5F7;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 6px;
}
.tituloTopico{
    text-align: center;
}
.horizontais{
    height: 10rem;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 20px;
}
.quadrados{
    width: 14rem;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 20px;
}
.verticais{
    width: 10rem;
    margin-left: 9px;
    margin-right: 9px;
    margin-bottom: 20px;
}