.dadosPessoais{
    display: flex;
    justify-content: space-around; 
    align-items: center;
    gap: 20px;   
    background-color: #045762;
    color: #F5F5F7;
    font-size: 0.875rem;
    margin-left: 0px;
    margin-right: 0px;
    height: 10rem;
}
.endereco{
    margin-right: 20px;
}
.nome{
    font-size: 1rem;
    margin-top: 12px;

}
.fotoPerfil{
    width: 8rem;
    height: 8rem;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 20px;
    border-color: #A7D3DC;
    border-radius: 16px;
    border: 2px solid;
}
body{
    background-color:  #F5F5F7;
}

/*
#646cffaa
#61dafbaa
*/